---
import { Image } from "astro:assets";

import { slugify } from "@lib/utils";

import kebab from "@assets/images/ui/kebab.png";
import MenuSection from "@components/MenuSection.astro";

import { menu } from "@data/menu.json";

const menuGroups = Array.from(new Set(menu.map((section) => section.group)));

const { selectedGroup = menuGroups[0] } = Astro.props;
---

<div class="container pt-40 mx-auto px-4 sm:px-0">
    <h2 class="mb-32 text-5xl text-center font-display text-primary uppercase"
        id="menu"
    >Menu</h2>

    <div class="mb-32 px-4 flex flex-col md:flex-row mx-auto font-cursive w-full space-y-5 md:space-y-0 md:space-x-10 items-center justify-center">
        {
            menuGroups.map((group) => (
                <span
                    href={`#${slugify(group)}`}
                    class={`${
                        group == selectedGroup ? "btn-active" : ""
                    } menu-button w-full sm:w-2/3 md:w-auto overflow-hidden whitespace-nowrap btn btn-neutral duration-700 delay-100 btn-outline btn-lg px-4 h-16 text-3xl min-h-min bg-base-100 border-4`}
                    onclick={`window.menuSwap('${slugify(group)}')`}
                >
                    {group}
                </span>
            ))
        }
    </div>

    { 
        menuGroups.map( group => 
                {
                    return (
                     <div class={`menu-group flex flex-wrap justify-center transition duration-1000 ${ group == selectedGroup ? '' : 'hidden'}`}
                          id={`${slugify(group)}`}
                     >
                        {
                            menu.filter( section => section.group == group)
                                .map( section => {
                                    return (
                                        <MenuSection
                                            title={section.name}
                                            id={slugify(section.name)}
                                            class="h-fit max-w-2xl w-full px-10"
                                        >
                                            <div
                                                class="hidden relative h-full"
                                                slot="menu-image"
                                            >
                                                <Image
                                                    src={kebab}
                                                    class="h-full w-fit object-contain neon-primary"
                                                    alt={`Menu ${section.name}`}
                                                />
                                            </div>
                                            <ul class="space-y-2 uppercase text-2xl tracking-wide">
                                                {section.content?.map((item) => (
                                                    <li>{item.name}</li>
                                                ))}
                                            </ul>
                                        </MenuSection>
                                    )
                                })
                        }
                     </div>
                    )
                }
            )
    }
</div>

<script>
    if(!window.menuSwap){
        window.menuSwap = (id, el) => {
            var buttons = document.getElementsByClassName("menu-button");
            var groups = document.getElementsByClassName("menu-group");
            Array.from(buttons).forEach(function (button) {
                if(button != el) button.classList.remove('btn-active');
                else if (!button.classList.contains('btn-active')) button.classList.add('btn-active');
            });
            Array.from(groups).forEach(function (group) {
                if( group.id == id ){
                    group.classList.remove('hidden');
                }
                else {
                    if(!group.classList.contains('hidden')) group.classList.add('hidden')
                }
            });
        }
    }
</script>