---
import { Image } from "astro:assets";

import MenuSection from "@components/MenuSection.astro";

import { slugify } from "@lib/utils";
import { menu } from "@data/menu.json";

const allImages = await Astro.glob('../assets/images/*/*.*');
const menuGroups = Array.from(new Set(menu.map((section) => section.group)));

const { selectedGroup = menuGroups[0] } = Astro.props;
---

<div class="container pt-40 mx-auto px-4 sm:px-0">
    <h2 class="mb-32 text-5xl text-center font-display text-primary uppercase"
        id="menu"
    >Menu</h2>

    <div class="mb-32 px-4 flex flex-col md:flex-row mx-auto font-cursive w-full space-y-5 md:space-y-0 md:space-x-10 items-center justify-center">
        {
            menuGroups.map((group) => (
                <span
                    href={`#${slugify(group)}`}
                    class={`${
                        group == selectedGroup ? "btn-active" : ""
                    } menu-button w-full sm:w-2/3 md:w-auto overflow-hidden whitespace-nowrap btn btn-neutral duration-700 delay-100 btn-outline btn-lg px-4 h-16 text-3xl min-h-min bg-base-100 border-4`}
                    onclick={`window.menuSwap('${slugify(group)}', this)`}
                >
                    {group}
                </span>
            ))
        }
    </div>

    { 
        menuGroups.map( group => 
                {
                    return (
                     <div class={`menu-group max-w-3xl mx-auto ${ group == selectedGroup ? '' : 'hidden'}`}
                          id={`${slugify(group)}`}
                     >
                        {
                            menu.filter( section => section.group == group)
                                .map( section => {
                                    return (
                                        <MenuSection
                                            title={section.name}
                                            id={slugify(section.name)}
                                            class="h-fit w-full px-10"
                                        >
                                            {
                                                allImages.find( image => image.default.src.search(`/${slugify(section.name)}`) >= 0 ) &&
                                                <Image class="rounded-3xl my-5 sm:my-0 sm:float-right h-64 flex-none w-min object-contain neon-primary" src={ allImages.find( image => image.default.src.search(`/${slugify(section.name)}`) >= 0 )?.default } alt="" slot="menu-image"/>
                                            }
                                            <ul class="space-y-5 uppercase tracking-wide">
                                                {section.content?.map((item) => (
                                                    <li>
                                                        <div class="text-2xl">{item.name}</div>
                                                        <div class="text-base font-sans">{item.description}</div>
                                                    </li>
                                                ))}
                                            </ul>
                                        </MenuSection>
                                    )
                                })
                        }
                     </div>
                    )
                }
            )
    }
</div>

<script>
    if(!window.menuSwap){
        window.menuSwap = (id, el) => {
            var buttons = document.getElementsByClassName("menu-button");
            var groups = document.getElementsByClassName("menu-group");
            Array.from(buttons).forEach(function (button) {
                if(button != el) button.classList.remove('btn-active');
                else if (!button.classList.contains('btn-active')) button.classList.add('btn-active');
            });
            Array.from(groups).forEach(function (group) {
                if( group.id == id ){
                    group.classList.remove('hidden');
                }
                else {
                    if(!group.classList.contains('hidden')) group.classList.add('hidden')
                }
            });
        }
    }
</script>