---
import { Image } from "astro:assets";

import { slugify } from "@lib/utils";

import kebab from "@assets/images/ui/kebab.png";
import MenuSection from "@components/MenuSection.astro";

import { menu } from "@data/menu.json";
---

<div class="container py-44 mx-auto px-4 sm:px-10">
    <h2 class="mb-32 text-5xl text-center font-display text-primary uppercase"
        id="menu"
    >
        Menu
    </h2>

    <div class="flex w-full justify-center">
        <div class="tabs tabs-boxed font-cursive justify-between w-full max-w-4xl">
            {
                menu.map( section => 
                    <a href={`#${slugify(section.name)}`} class="text-2xl uppercase font-bold tab ">{section.name}</a>
                )
            }
        </div>
    </div>

    <div class="grid md:grid-cols-2 font-cursive max-w-5xl mx-auto mt-32 gap-12">
        <div class="flex flex-col w-full">
            {
                menu.filter( section => section.column == 1 ).map( section => {
                    return (
                        <MenuSection title={section.name} id={slugify(section.name)} class="h-fit">
                            <div class="hidden relative h-full" slot="menu-image">
                                <Image src={kebab} class="h-full w-fit object-contain neon-primary" alt={`Menu ${section.name}`}/>
                            </div>
                            <ul class="space-y-2 uppercase text-2xl tracking-wide">
                                {section.content?.map( item =>
                                    <li>{ item.name }</li>
                                )}
                            </ul>
                        </MenuSection>
                    )
                })
            }
        </div>
    
        <div class="flex flex-col w-full">
            {
                menu.filter( section => section.column == 2 ).map( section => {
                    return (
                        <MenuSection title={section.name} id={slugify(section.name)} class="h-fit">
                            <div class="hidden relative h-full" slot="menu-image">
                                <Image src={kebab} class="h-full w-fit object-contain neon-primary" alt={`Menu ${section.name}`}/>
                            </div>
                            <ul class="space-y-2 uppercase text-2xl tracking-wide">
                                {section.content?.map( item =>
                                    <li>{ item.name }</li>
                                )}
                            </ul>
                        </MenuSection>
                    )
                })
            }
        </div>
    </div>

</div>
